[user]
	name = Daigo Suhara
	email = suharadaigo@gmail.com
[core]
	autocrlf = false
	filemode = false
[color]
	ui = true
[credential "https://android.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://aomedia.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://beto-core.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://boringssl.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://chromium.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://chrome-internal.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://dawn.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://pdfium.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://quiche.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://skia.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://swiftshader.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
[credential "https://webrtc.googlesource.com"]
	helper = 
	helper = luci
	useHttpPath = yes
